/* $VARIABLE */
$textColor : rgba(228, 230, 235,1);
$buttonColor : #2D88FF;
$backColor : #141314;
$twoColor : #222324;
$threeColor : #1B1C1D;


.modification-page{
	display: block;

	.content-section{
		box-shadow: none;
		width: 1370px;
		margin: 120px auto 0px;
		padding-top: 0px;
		// Фон который установил пользователь
		.block-splash-screen-user{
			position: relative;
			width: 100%;
			background-image: url('https://wallpaperaccess.com/full/1122002.jpg');
			height: 300px;
			background-size: cover;
			background-repeat: no-repeat;
			transition:400ms all;
			border-bottom: 2px solid #222;
			.block-hover{
				position: absolute;
				bottom: 10px;
				right: 10px;
				visibility: hidden;
				& a{
					padding: 5px 10px;
					background-color: rgba(0,0,0,.4);
					font-size: 14px;
					border-radius: 3px;
				}
			}

			&:hover .block-hover{
				visibility: visible;
			}
		}

		// все инфа о пользователе будет хранится в этом блоке
		.main-block-info-user{
			width: 100%;
			//  Блок со информацией о пользователе
			.info-user-block{
				background-color:$threeColor;
				border: 1px solid #333;
				border-top:none;
				border-radius: 0px 0px 3px 3px;
				padding: 20px 20px 0px;
				display: flex;
				// Аватарка пользователя
				.image-user{
					padding-top: 4px;
					flex:.5;
					margin-right: 30px;
					text-align: center;
					& img {
						border:3px solid $buttonColor;
						border-radius: 50%;
						max-width: 80px;
						max-height: 80px;
					}
					a {
						margin-top: 10px;
						display: flex;
						font-size: 14px;
						padding: 5px 10px;
						border-radius: 3px;
						background: $twoColor;
						transition:400ms all;
						box-shadow: 0px 0px 5px rgba(0,0,0,.06);
						& img{
							width: 16px;
							margin-top: 3px;
							margin-right: 5px;
							border: none;
						}
						&:hover{
							background-color: $buttonColor;
						}
					}
				}
				// блок в который следует за аватаркой пользователя - крч инфа и о немм
				.description-user{
					flex:6;
					// Основная инфа о пользователе
					.desc-block{
						.name-user-profile{
							margin-bottom: 5px;
							font-size: 18px;
							font-weight: bold;
							small{
								font-size: 13px;
								font-weight: normal;
								color: rgba(255,255,255,.6);
							}
						}
						.name-user-profile ~ p{
							font-size: 14px;
							color: rgba(255,255,255,.6);
							margin-bottom: 4px;
						}
					}
					
					// Панель со ссылками - 'Списки', 'Мои друзья' и т.д 
					.list-profile-links{
						border-top: 1px solid #333;
						padding-top:10px;
						display: flex;
						align-items:center;
						margin-top: 10px;
						& a{
							margin: 0px 27px 0px 0px;
							padding-bottom: 9px;
							font-size: 14px;
							border-bottom: 2px solid transparent; 
							transition:500ms all;
							& img{
								display: none;
								width: 16px;
								top: 2px;
								position: relative;
								margin-right: 8px;
							}
							&:hover{
								border-bottom-color: $buttonColor; 
							}
						}
						.active{border-bottom-color: $buttonColor;}
					}

				}

			}
			// Блок который идет после инфы - там обычно - список аниме - в зависимости от страницы
			.content-active-link{
				margin-top: 40px;
				border-radius: 3px;
				display: flex;
				//  блок в котором перечислены аниме которые нравятся или манги
				.content-block{
					flex-basis: 1100px;
					padding-bottom: 50px;
				 	// background-color: $threeColor;
				 	.block_anime article{
				 		width: 160px;
				 		margin-bottom: 0px;
				 		.img{height: 220px;}
				 		.title_anime{font-size: 12px;}
				 		small{font-size: 11px;}
				 		.watch{font-size: 12px;& img{margin-top: -1px;}}
				 	}
				 	// Страница вывода всех друзьей
					.friend{
						position: relative;
						display: flex;
						width: 100%;
						margin: 20px 0px 10px;
						.friend__img{
							margin-right: 20px;
							& img{
								width: 80px;
								border-radius: 50%;
							}
						}
				
						.friend__links{
							padding-top: 3px;
							color: white;
							font-weight: bold;
							// кнопка написать сообщение
							small{
								margin-top: 10px;
								display: block;
								& a{
									font-weight: normal;
									color: rgba(255,255,255,.6);
									&:hover{
										color: white;
									}
								}
							}
							// Кнопка удалить из друзьей
							.delete-friend {
								display: block;
								right: 20px;
								top: 0;
								margin: 10px 0px;
								position: absolute;
								a{
									background-color: rgba(25,25,25,.7);
									transition:400ms all;
									padding: 5px 9px;
									font-size: 11px;
									font-weight: normal;
									border-radius: 3px;
									&:hover{
										background-color: #FF1928;
									}
								}
							}

						}
					}
					
				}
				
				// правый блок
				.right-panel-control{
					margin-left: 10px;
					flex-basis:260px;
					h4{
						margin: 0px 0px 10px 8px;
					}
					// Ссылки в правом блоке
					.links{
						border-radius: 3px;
						background-color: $threeColor;
						border: 1px solid #333;
						a{
							display: block;
							padding: 9px 12px;
							margin: 0px 0px 4px;

							transition:500ms all;
							border-radius: 3px;
							color: rgba(255,255,255,.8);
							font-size: 14px;
							&:hover{
								color: white;
								background-color: #222222;
							}
						}
						.active{
							background-color: #222;
						}	
					}
					// реклама в правом блоке
					.ads{
						margin: 20px 0px;
						width: 100%;
						height: 300px;
						background-color: #000; 
					}
					
				}

			}

		}

	}
}

	// /* Стилизация для блоков в разделе 'Списки' - показ аниме*/				
	// 				.list-anime{
	// 				 	flex-basis:630px;
	// 				 	cursor: pointer;
	// 				 	margin: 10px;
	// 					display:flex;
	// 				 	width: 100%;
	// 				 	.image-anime{
	// 						margin-right: 10px;
	// 						& img{
	// 							width: 60px;
	// 							height: 80px;
	// 						}
	// 				 	}
				
	// 					.list-anime-content{
	// 						position: relative;
	// 						width: 100%;
	// 						// название аниме
	// 						p{
	// 							font-weight:500;
	// 							color: rgba(255,255,255,.9);
	// 							margin-bottom: 5px;
	// 							transition:400ms all;
	// 							&:hover{
	// 								color:white;
	// 							}
	// 						}
	// 						// описание сколько серии и год
	// 						small{
	// 							display: block;
	// 							color: rgba(255,255,255,.6);
	// 							margin-top: 2px;
	// 						}
	// 						// кнопка удаления аниме из списка
	// 						.button-delete-from-list{
	// 							position: absolute;
	// 							right: 10px;
	// 							top: 0px;
	// 							padding: 3px 9px;
	// 							background-color: #222;
	// 							font-size: 13px;
	// 							border-radius: 3px;
	// 							transition:400ms all;
	// 							&:hover{
	// 								background-color: #FF2424;
				
	// 							}
	// 						}
	// 					}
						
	// 				}
	// 				/* Стилизация для блоков в разделе 'Списки' - показ аниме*/				
