/* $VARIABLE */
.main-block-settings {
  position: relative;
  margin: 70px auto;
  padding: 15px 10px;
  max-width: 900px;
  background-color: #1B1C1D;
  border: 1px solid #333;
  border-top: none;
}
.main-block-settings .block-tabs {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
  margin-bottom: 30px;
}
.main-block-settings .block-tabs a {
  font-weight: 500;
  font-size: 14px;
  margin: 0px 10px 0px 0px;
  padding-bottom: 5px;
  -webkit-transition: 400ms all;
  -o-transition: 400ms all;
  transition: 400ms all;
  border-bottom: 2px solid transparent;
}
.main-block-settings .block-tabs a.active {
  border-bottom-color: #2D88FF;
}
.main-block-settings .block-tabs a:hover {
  border-bottom-color: #2D88FF;
  color: #2D88FF;
}
.main-block-settings form label {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  margin: 3px 0px;
  display: block;
}
.main-block-settings form input, .main-block-settings form textarea {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
  background-color: #1B1C1D;
  border: 1px solid #333;
  -webkit-transition: 400ms all;
  -o-transition: 400ms all;
  transition: 400ms all;
}
.main-block-settings form input:focus, .main-block-settings form textarea:focus {
  border-color: #2D88FF;
}
.main-block-settings form textarea {
  resize: none;
  height: 130px;
}
.main-block-settings form .button-save-settings {
  padding: 6px 12px;
  font-weight: 500;
  background-color: #2D88FF;
  color: white;
  font-family: Roboto;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: 400ms all;
  -o-transition: 400ms all;
  transition: 400ms all;
}
.main-block-settings form .button-save-settings:hover {
  background-color: #2673d8;
}
.main-block-settings form select {
  margin-top: 3px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 3px;
  background-color: #1B1C1D;
  color: white;
  border: 1px solid #333;
  margin-bottom: 10px;
}
.main-block-settings form .checkbox-notification {
  width: auto;
  height: auto;
}
.main-block-settings form #push_email {
  display: none;
}
.main-block-settings form #push_email + label {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
}
.main-block-settings form #push_email + label:before {
  width: 13px;
  height: 13px;
  position: absolute;
}
.main-block-settings form #push_email + label:hover {
  border-color: #2D88FF;
}
.main-block-settings form #push_email:checked + label:before {
  content: "";
  margin-left: 1.5px;
  margin-top: 1.5px;
  background-image: url("../img/icons2/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}