/* $VARIABLE */
$tColor : #DFD9D9;
$bColor : #4193FE;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  outline: none;

    &::selection{
    color: black;
    background: red;
    }
}


/* Оформления ползунка */

::-webkit-scrollbar {
    width: 8px;
    background-color: #242526;
}

::-webkit-scrollbar-thumb {
    
    background-color: #212121;
}

::-moz-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, .0);
}

::-moz-scrollbar-thumb {
  background: linear-gradient(0deg, #ff0000, #ff9000);
}

a {text-decoration: none; }

body {
    font-family: Segoe, Roboto, Arial , sans-serif;
    background-color:#18191A;
    background-repeat: no-repeat;
    font-smoothing: antialiased;
   
}


@font-face {
    font-family: Segoe; /* Имя шрифта */
    src: url(../fonts/segoe.ttf); /* Путь к файлу со шрифтом */
}




/* Верхний меню */
#header {
min-width: 100%;
top: 0;
transition: all 1s;
left: 0;
z-index: 999;
background-color: #242526;
position:fixed;
letter-spacing: 0.2px;
/*box-shadow: 0px 0px 10px rgba(0,0,0,.1);*/
border-bottom: 0.01px solid #393A3B; 
padding: 13px 10px;

.main_menu {
    max-width:1600px;
    margin: 0px  auto;
    position: relative;
    display: flex;
    align-items: center;

    .logo{
        flex: .2; 
        color:$tColor;
        a {  
            color:$tColor;
            font-size: 14px; 
        }
    }

     /* Поиск в верхнем меню */
    .search{
        flex: 1.5;
        color: $tColor;
        margin-left: 50px;
        display: flex;
        height: 25px;
        position: relative;


        & input{
            background-color: #1F1F20;
            border: none;
            outline: none;
            width:300px;
            border-radius: 20px;
            color: $tColor;
            position: relative;
            bottom: 4px;
            padding: 9px 40px 8px 15px;
        }
         .search_click{
            position: absolute; 
            top: -3px;
            left:269px;
            display: flex;
            text-align: center;
            cursor:pointer; 
            padding: 7px;
            border-radius: 50%;
            background-color: $bColor;
            z-index: 1;

            img {width: 17px;height: 17px;}
         }
    }
    /* Раздел профиль и тю в меню */

    .user_auth{
        flex: 1.5;
        display: flex;
        position: relative;
        align-items:center;
        cursor: pointer;
        justify-content: flex-end;

   /*     a::before { 
            content:attr(data-title);
            position: absolute;
            border: 1px solid #242526;
            box-shadow: 0px 0px 10px rgba(0,0,0,.2);
            background-color: #2B2C2D;
            color: $tColor;
            font-size: 13px;
            padding: 4px 8px;
            border-radius: 5px;
            display: block;
            transform: rotate3d(0, 1, 0, 90deg);
            z-index: 99;
            opacity: 0;
            bottom: -35px;
            margin-left: -25px;
            }
            a:hover:before{
                opacity: 1;
                transition-duration: 900ms;
                transform: rotate3d(0, 0, 0, 0deg);

            }

            */

        .active_link {
            background-color:#4193FE;
            &::after{display:none;}
        }
        & span{
            padding:7px 8.5px;
            background-color: #3A3B3C;
            border-radius: 50%;
            position: relative;
            display: flex;
            margin: 0px 5px;
            z-index: 1;
            /* Синиц круг при наведении на ссылку */
            &::after{
                content: "";
                position:absolute;
                width: 10px;
                opacity: 0;
                height:10px;
                background-color:#4193FE;
                border-radius: 50%;
                bottom: -1.5px;
                margin-left: -14px;
                }

             &:hover:after {
                opacity: 1;
                animation-name: fill_background_color;
                animation-duration: 600ms;
                animation-timing-function: ease;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            
            & img{
                align-items: center;
                justify-content: center;
                width: 18px;
                z-index: 2;
                height: 18px;
            }
        }


            .link_for_profile{
                /* Атрибут data-title - чтоб на нем не работал */
                :before{display: none; opacity: 0;} 

                .user_image{
                    background-color: transparent;
                    border-radius: 15px;
                    font-size: 14px;
                    padding: 3px 30px 3px 5px;
                    color: white;
                    & img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }

                    &:hover{
                        background-color: #363839;
                        transition-duration: 400ms;
                    }
                       
                    /* Чтобы другая аимация не сработала (вверху) */
                    &:after{display: none;} 

                    }
            }
        }
    }
}


/* это выдвигающися менб при скроле  */
#header.fixed{
    top: 0;
    position: fixed;
}

 

@keyframes showMenu{
    100% {
    opacity: 1;
    }
}



/* Мобильное меню - убераем если у нас десктоп */

.menu_mb{
    width: 290px;
    max-height:100%; 

    background-color: rgba(36,37,38,1);
    overflow:auto;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    padding:0px 0px 50px;
    top: 0;
    border-left: 2px solid $bColor;
    z-index: 99909;

    &::before{
        content: '';
        display: none;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0,0,0,.5);
        top: 0;
        right: 100%;

    }

    h3{
        color: $bColor;
        margin: 0px 20px; 
    }

    .block_mb{
        display: block;
        margin: 10px 0px 30px;
        background-color: #212121;
        position: relative;
        /* Этот первый блок с имем и т.д */
        .user_auth{
            position: relative;
            width: 100%;
            padding: 15px 20px;
            display: flex;
            .img_mb img{
                width: 40px;
                background-color: $bColor;
                border-radius: 50%;
                border: 2px solid $bColor;
                height: 40px;
            } 
        }

        .user_info{
            position: relative;
             margin-left: 20px;
            /*background-color: #000;*/
            & span{

                display: block;
                color: $tColor;
            }

            & span:last-child{
                margin-top: 5px;
                font-size: 14px;
                font-weight: normal;

            }
        }

        /* Это ссылки после первого блока */
        .menu_links{
            /*padding: 10px;*/

            ul {
                list-style: none;

                li{
                    background-color: #212223;
                    padding: 10px 30px;
                    z-index: 0;

                    a{
                        color:$tColor;
                        font-size: 14px;
                        font-family: Roboto;
                        font-weight:500;
                        z-index: 2;

                    &::after{
                        content: '';
                        z-index: -1;
                        /*top: 0;*/
                        margin-top: -12px;
                        display: none;
                        /*display: block;*/
                        width: 100%;
                        /*margin:10px 10px; */
                        height: 30px;
                        position: absolute;
                        left: 0px;
                        background-color: $bColor;
                    }

                    }

                    
                   
                }

            }

        }

    } 
}

.close_menu{
 &:before{
    visibility:hidden;
    }
}


.mobile_menu{
    min-width: 100%;
    left: 0;
    position: fixed;
    display: flex;
    bottom: -1px;
    z-index: 9999999;
    background:rgba(36,37,38,.98); 

   .icon_mobile{
        width: 20%;
        text-align: center;
        padding: 10px 10px 4px;
        & img{
            padding: 4px;
            width: 29px;
            height: 29px;
        }
   }

}

.mobile_menu, .menu_mb{
    display: none;
}








 /* Анимация при наведений на ссылки в верхнем меню, заполнение кнопки синим цветом */
@keyframes fill_background_color{
    100% {
    width: 35.5px;
    height: 35px;
    margin-left: -26.5px;
    }
}

.slick-loading .slick-list{background: #fff url('../library/slick_slider/ajax-loader.gif') center center no-repeat;}


/* Закрытое меню в верхнем меню */
.menu_icon_down_click{
    position: fixed;
    background-color: #242526;
    display: none;
    right: 20px;
    top:80px;
    padding: 10px;
    border:1px solid #393A3B;
    border-radius: 10px;
    /*box-shadow: 0px 0px 20px  rgba(45,136,255,.2);*/
    z-index: 99;
    a {color:$tColor;}
    & img { 
        width: 20px;
        height: 20px;
        position: relative;
        float: left;
        bottom: 2px;
        margin-right: 10px;
    }
    .block_user_info{
            padding: 10px 5px 10px 5px;
            border-radius: 10px;
           & img{
            width: 40px;
            float: left;
            position: relative;
            bottom: 5px;
            margin-right: 10px;
            height: 40px;
            border-radius: 50%;
        }
        p { font-size: 12px; }
         &:hover{
            background:#18191A;
        }
 
    }

    a:not(:first-child){
        display: block;
        font-size: 15px;
        margin: 5px 0px;
        border-radius: 5px;
        padding: 10px 10px;

        &:hover{
            transiton-duration:800ms;
            background:#18191A;
        }
        &:last-child:hover{
            transiton-duration:800ms;
            background:rgba(255,0,0,.8);
        }

    }

    &:before{
        content: "";
        z-index:-1;
        top: -30px;
        right: 8px;
        border: 15px solid transparent; 

        border-bottom: 15px solid #242526;
        position: absolute;
    }
}

/* Кнопка 'развернуть' при клике отображается */
.open_menu{
    display: block;
    opacity: 0;
    animation-name: showMenu;
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

 /* Слайдер на основе Slick */
.slide{
    /*background-color: #000;*/
    background-image: url('../img/back (1).jpg');
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #4193FE;
    margin: 0px auto;
    padding: 50px 20px 40px;

    transition: background  1s ease;
    &::after{
        width:100%;
        height: 100%;
        content: '';
        background-color: rgba(0,0,0,.7);
        display: block;
        left: 0;
        top:0;
        position: absolute;
    }

  

    .slider{
        max-width: 1600px;
        outline: none;
        z-index: 2;
        margin: 0 auto;
        & a { color: $tColor; }
        & div{
            /*display: inline-block;*/
        .block_slader{
            width: 193px;            
            position: relative;
            margin: 0px 10px ;    

        & img{
         background-color: #242526; 
           width: 100%;
           height: 278px;
        }

        .title{
            display: block;
            margin: 10px 3px 3px;
            color: white;
            font-family: roboto;
            font-weight: 500;
        }
         small {
            margin: 0px 3px;
            font-family: roboto;
            font-weight: 500;
        }

        }
    }
    }


    }
    .slick-slide {
      margin: 0px 20px;
    }

/* Левые и правые кнопки в слайдер */
.prev{
    position: absolute;
    top: 50%;
    padding: 25px 3px;
     background-color: rgba(20,20,20,.7);
    left: 28px;
    background-position: center;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -70%);
    z-index: 922;
}
.next:hover, .prev:hover{
    background-color: rgba(20,20,20,.8);
}
.next{
    position: absolute;
    top: 50%;
    right: -18px;
    padding: 25px 3px;
    cursor: pointer;
    background-color: rgba(20,20,20,.7);
    background-position: center;
    transform: translate(-50%, -70%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 922;

}

.next img, .prev img{
    width: 30px;
    height: 30px;
}

/* Мигающиеся круг в аниме - онгоинг т.п*/

.status{
            position: absolute;
            width: 20px;
            height: 20px;
            /*background-color: #fff;*/
            top: 10px;
            left: 10px;

            .puls_ongoing{
                width: 10px;
                height: 10px;
                background-color:#7F33F0;
                top: 50%;
                /*left: 50%;*/
                text-align: center;
                transform: translate(0%,-50%);
                border-radius: 50%;
                position: relative;

                &::after{
                    position:absolute;
                    width: 10px;
                    content: '';
                    height: 10px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    z-index: 99;
                    animation-name: puls;
                    transform: translate(-50%,-50%);
                    animation-duration: 4s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;

                }
            }

            :before{
                content: 'Онгоинг';
                position: absolute;
                bottom: -19px;
                padding: 3px 10px;
                font-weight: 200;
                font-family: Roboto;

                font-size: 14px;
                background: #2B2C2D;
                left: -50%;
                border-radius: 3px;
                transform: translate(-40%,50%);
                box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                border-radius: 2px;
                opacity: 0;
                /*transform: rotate3d(0, 1, 0, 90deg);*/
                z-index: 9999;

            }

            :hover:before{
                opacity: 1;
                transition-duration: 800ms;
            }}

@keyframes puls{
    0% {
    opacity: 1;
    }  

    40%, 100% {
    opacity: 0;
    }

    10% {
      
        background-color: #7F33F0;
    }
  
    30% {
    width: 35px;
    height: 35px;
    }
  
   /* 100% {
    width: 30px;
    height: 30px;
    opacity: .3;
    }*/
}


/* Чат во меню */
.chat{
            position: relative;
            padding: 20px 10px;
            margin: 10px 0px;
            display: block;
            width: 100%;
            /*max-width: 20px;*/
            background: #1E1F20;
            word-wrap: break-word;
            /*height: 529px;*/



            span:first-child{
                font-size:18px;
                /*color: white;*/
                color:$tColor;
                /*background: #000;*/
                /*border-bottom: 2px solid red;*/
                margin-left: 10px;
                & img{
                    width: 20px;
                    height: 20px;

                    position: relative;
                    top: 3px;
                    margin-right: 10px;
                }
            }
            
            .loading_chat{
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                z-index: 99;
                margin: 0px -10px;
                background: #212223;
              .centerLoading{
                width: 200px;
                padding: 10px;
                /*background-color: #000;*/
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                display: block;
                text-align: center;
                position: relative;
                & img{
                  width: 100px;
                  
                }

            .load_circle{
                width: 50px;
                height: 50px;
                position: relative;
                /*background-color: #000;*/
                margin: 10px auto;
                border-radius: 50%;
                display:block;
                /*top: 55%;*/
                /*left: 36%;*/
                border-left: 3px solid $bColor;
                border-top: 3px solid transparent;
                border-bottom: 3px solid $bColor;
                border-right: 3px solid $bColor;
                /*transform: translate(0%, 0%);*/
                
                animation-name: loads;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

              }


            }

            .message_block{
                position: relative;
                overflow: auto;
                 height: 450px;
                 margin-top: 15px;
                .message{
                    margin: 10px 10px 15px;
                    word-break: break-all;
                    padding-bottom: 5px;
                    display: flex;
                    border-bottom: 1px dashed $bColor;
                    .img_author_chat{
                        /*background: #000;*/
                        width: 40px;
                        height: 40px;
                        margin-right: 12px;
                    & img{
                        width: 40px;
                        height:40px;
                        border-radius: 4px;
                        
                    }
                }

                .text_message{
                    color: $tColor;
                    /*background: #000;*/
                   max-width: 100%;
                   /*position: relative;*/
                   display: block;
                    /*word-wrap: initialzzzz;*/
                    .data_public{
                        position: absolute;
                        font-size: 13px;
                        font-weight: normal;
                        right: 15px;
                    }
                    .author{
                        font-size: 12px;
                        color: #FF4437;
                    }

                    .text{
                         position: relative;
                        font-weight: normal;
                        font-size: 13px;
                        margin-top: 4px;
                        font-family: roboto;
                        & img{
                                position: relative;
                            width: 30px;
                            height: 30px;
                        }

                    }
                }
                    
                }

                
            }
            .form_send{
                    position: relative;       
                    width: 100%;
                    left: 0;
                    
                .block_input{
                    /*flex: 1;*/
                    margin: 20px 0px 0px;
                    display: flex;
                    input{
                        width: 270px;
                        background-color: #292B2C;
                        box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,.2);
                        padding: 8px 29px 8px 9px;
                        color: $tColor;
                        border: 1px solid $bColor;
                        /*border-radius: 3px;*/
                    }

                    .smile_icon{
                        position: absolute;
                        right:46px;
                        bottom: 3px;
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;

                        }
                        :hover{
                        transform: rotate(360deg);
                        transition-duration: 1s;
                        }
                }
            

                    .send_button{
                        margin-left: 10px;
                            /*background-color: #000;*/
                        cursor: pointer;
                        img{
                            width: 30px;
                            position: relative;
                            top: 2px;

                        }
                    }
                }

                /* Блок который показывается коглда кликаешь на иконку смаилики  */
                .smiles_all{
                    position: absolute;
                    right:40px;
                    top: -110px;
                    width: 230px;
                    height: 100px;
                    display: none;

                    /*overflow: auto;*/
                    overflow-y: auto;
                    background-color: #222;
                    padding: 10px 5px;
                    border-radius: 6px;
                    border: 1px solid #393A3B;
                    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                    & img {
                        width: 25px;
                        height: 25px;
                        margin: 0px 3px;
                        cursor: pointer;
                        float: left;

                    &:hover{
                            background-color:#191919;
                            border-radius: 5px;
                            transition-duration: 500ms;
                        }
                    }

                }
        
                }
            }


/* Главный блок который управляет контентом и меню) */
#main{
    position: relative;
    margin: 0px auto 0px;
    max-width: 1640px;
    display: flex;
    padding: 0px 15px;
    color: $tColor;

     /* Меню левое */
    aside {
        color: $tColor;
        position: relative;
        box-shadow: 0px 0px 5px  rgba(0,0,0,.2);
        float: left;
        min-width: 320px;
        max-width: 320px;
        background-color: #222324;

        /* Это надпись 'Меню' с икнокой рядом */
        .wrapper{
            width: initial;
            /*background:linear-gradient(to left, #F9B120, #E93F3A);*/
            background: #1B1B1B;
            display: flex;
            line-height: 30px;
            border-bottom: 2px solid $bColor;
            padding: 10px 20px;
            & img{ 
            width: 20px;
            height: 20px;
            /*float: left;*/
            top: 4px;
            margin-right: 10px;
            position: relative; }
        }

        /* Ссылки в меню */
        #menu{
            ul{
                list-style: none;
                li{ 
                    /*font-weight: normal;*/
                    padding: 10px 20px;
                    margin-top: 10px;

                    font-family: Segoe;
                    font-size: 14px;
                    color: $tColor;
                    /*padding: 11px 9px 11px 30px;*/
                    &:hover{
                        background:#242424;
                    }
                }
            }
        }

        /* Выход новой серии */
        .date_new_episode{
            margin: 40px 0px;
            position: relative;
            background: #222222;
            padding: 0px 0px 30px;
            /*background: #212121;*/
            .title_block{
                width: initial;
                padding: 15px 10px 15px 20px;
                background: #1B1B1B;
                /*border-bottom: 2px solid $bColor;*/
                /*border-bottom: 2px dashed $bColor;*/

            & img{
                width: 20px;
                height: 20px;

                float: left;
                bottom: 1px;
                position: relative;
                margin-right: 10px;
             }
            }

            .new_episode_tommorow{
                display: block;

                /*background-color: transparent;*/
                padding: 10px;
                /*border-bottom: 2px solid $bColor;*/
                background: #212121;
                /*font-weight: normal;*/
                font-size: 14px;
                background: #1B1B1B;
                & img{
                    width: 30px;
                    height: 30px;
                    /*border-radius: 3px;*/
                    float: left;
                    display:none;
                    margin: 0px 10px 0px 5px;
                }

                & span{
                margin: 2px 15px;
                display: block;
                font-size: 13px;
                }
            }

        }

        /* Ссылка на вк */
        .vk{
            width: initial;
            margin: 20px 0px;
            padding: 0px 14px;
            .vk_block{
                margin: 30px 0px 20px;
            width: initial;
            height: 300px;
            background: #292A2B;
            }
        }


        /* Блок рекламы */
        .ads{
            width: initial;
            margin: 10px 15px;
            /*background-color: #000;*/
            .ad_section{
                margin: 30px 0px 20px;
                width: initial;
                height: 300px;
                background: #292A2B;
            }
        }

    }

    /* Секция где находятся аниме */
    section {
        margin-top: 120px;
        background-image: url('../img/decor.png');
        margin-right: 20px;
        padding: 25px 15px 15px;
        width: 100%;
        position: relative;
        z-index: 9;
    }
   


}


/* Блок где находятся аниме */
.block_with_anime {
    margin: 80px 0px;  
}


/* Новые серии  */
.new_episode{

                position: relative;
                overflow: hidden;
                /*box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);*/
                box-shadow: 0 1px 2px var(--shadow-2);
                display: inline-block;
                margin: 10px 10px 10px 0px;
                width: 390px;

                cursor: pointer;

                img{
                width: 100%;
                height: 180px; 
                background-color: #242526;
                    }

                .title{
                    text-align: center;
                    bottom: 4px;
                    width: 100%;
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    font-size: 15px;
                    font-family: Roboto;
                    /*margin-right: 10px;*/
                    padding: 7px ;
                    background: rgba(0,0,0,.8);
                    position: absolute;
                    }

            
                .last_episode{
                    position: absolute;
                    right: 10px;
                    /*font-family: Roboto;*/
                    color: white;
                    /*font-weight: ;*/
                    font-size: 13px;
                    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                    padding: 3px 6px;
                    border-radius: 2px;
                    /*background: white;*/
                    background: rgba(0,0,0,.8);

                    top:8px;
                }       }

/* Аниме в ряд - Рекомендации*/
.anime_in_row{
                position: relative;
                /*overflow: hidden;*/
                display: inline-block;
                background: #222324;
                padding: 0px 0px 10px;
                width: 224px;
                margin:0px 20px 0px 0px;
                margin-bottom: 70px;
                transform: 800ms all;
            

               .anim_img{
                    overflow: hidden;
                    height: 307px;

                    img{
                        width: 100%;
                        height: 100%;
                        background-color: #242526;
                        border: none;
                    }
                }

                h4{
                    position: relative;
                    z-index: 2;
                    color: $tColor;
                    /*font-size: 17px;*/
                    margin: 5px 8px 1px;}

                 small{
                        padding-left: 8px;
                         z-index: 2;
                        color: rgb(136, 145, 157);
                        }

                .bookmark{
                    position: absolute;
                    background: rgba(0,0,0,.9);
                    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                    cursor: pointer;
                    /*margin: 36px;*/
                    display: none;
                    right: 10px;
                    top: 8px;
                    padding: 5px 7px 0px;
                    transform: 800ms all;
                    /*display: block;*/
                    /*text-align: center;*/
                    /*line-height: 35px;*/
                    border-radius: 3px;
                    img { width: 18px;height: 18px; background-color: transparent;}
                    }

                /* Описание при наведении */
                .litle_desc  {
                    left:110%;
                    top: 50%;
                    transform: translate(0%,-50%); 
                    width: 350px;
                    font-size: 13px;
                    font-weight: normal;
                    font-family: Roboto;
                    position: absolute;
                    background-color: #272829;
                    border-left: 2px solid $bColor;
                    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
                    padding: 10px 20px;
                    z-index: 9;
                    /*display: none;*/
                    visibility: hidden;
                    opacity: 0;

                    & a{
                        border-bottom: 1px  dashed #ddd;
                        color: $tColor;
                    }

                    .all_title{ 
                        font-size: 18px;
                        display: block;
                        margin: 5px 0px 5px; 
                        border-bottom: 1px dashed $bColor;
                    }
                    p {
                        font-weight: normal;
                        font-family: Arial;
                        margin: 15px 0px;
                    }

                    .descripion_anime{
                        position: relative;
                        margin: 10px 0px;
                        border-left: 2px solid $bColor;
                        padding-left: 5px;
                        & span{ color: #4193FE; }
                    }



                    &::after{
                        content: "";
                        /*width: 30px;*/
                        border: 8px solid transparent; /* Прозрачные границы */
                        border-right: 10px solid $bColor;
                        left: -20px;
                        top: 50%; 
                        transform: translate(0%,-50%);
                        position: absolute;
                    }
                }

                /* Блок с показамой рейтинга аниме */
                .raiting{
                    position: absolute;
                    border-radius: 2px 0px 0px 2px;
                    background-color:#ED3F00;
                    top:9px;
                    /*color: black;*/
                    font-weight: normal;
                    /*display: flex;*/
                    /*width: 30px;*/
                    padding: 1px 9px 3px;
                    right: -6px;
                    /*border-radius: 50%;*/
                    font-size: 14px;

                    & img{
                        margin: 0px 3px 0px 0px;
                        width: 17px;
                        position: relative;
                        /*bottom: 1px;*/
                        top: 2px;
                        /*position: absolute;*/
                        background-color: transparent;
                        height: 17px;
                    }
                    &::before{
                        content: '';
                        /*display: none;*/
                        position: absolute;
                        bottom: -9px;
                        /*border-radius: 50%;*/
                        border: 4px solid transparent; 
                        border-left: 3px solid #B12F00;
                        border-top: 5px solid #B12F00;

                        /*width: 50px;*/
                        /*height: 50px;*/
                        right: 0px;
                    }
                }
                .eye{
                        position: absolute;
                        background: #3982E1;
                        border-radius: 3px 0px 0px 3px;
                        right:-7px;
                        /*display: none;*/
                        top: 40px;
                        padding: 4px 5px 0px;
                        font-size: 11px;   

                        & img {
                        margin-right: 7px;
                        float: left;
                        background-color: transparent;
                        top: -3px;
                        position: relative; 
                        width: 18px;
                        height: 18px;
                        }
                        &::before{
                        content: '';
                        position: absolute;
                        bottom: -9px;
                        border: 4px solid transparent; 
                        border-left: 3px solid #2F6BB9;
                        border-top: 5px solid #2F6BB9;
                        right: 0px;
                    }
                    }
            
                &:hover{

                    .litle_desc{
                        animation-name: desc_view;
                        animation-duration: 150ms;
                        animation-timing-function: ease;
                        /*animation-iteration-count: 1;*/
                        visibility: visible;
                        animation-fill-mode: forwards;  }  
                    .bookmark{
                        display: block;
                         transform: 800ms all;}
                    .anim_img img{
                        transform: scale(1.4);
                        transition-duration: 1s;}
                    .eye{
                        display: none;
                        transition-duration: 800ms;
                        transform: 800ms all;}
                    .raiting{display: none;}
                     box-shadow: 0px 0px 10px rgba(0,0,0,.3);
                     transition-duration: 800ms;

                }    } 



/* Показ короткой описании при наведении на аниме - каждая 5-я показывается в другую сторону */
 #main section .block_with_anime .anime_in_row:nth-child(5n-2) .litle_desc  {
    left: -372px;
    border-left: none;
    border-right: 2px solid $bColor;

    &::after{
    left:100%;
    border-left: 10px solid $bColor;
    border-right: none;

    }
}

/* Кнопка показ всех аниме и т.д */
.view_all_records {
    display: block;
    text-align: center;
    position: relative;
    margin: 0px auto 40px;
    cursor: pointer;
    span{ 
        border-radius: 2px;
        padding: 6px 10px;
        border: 1px solid #3C88EB;
        background: #2E68B4;
    }

}

/* сидящий на меню */
.sit_naruto{
    position: absolute;
    /*width: 100px;*/
    top: -65px;
    left: 0px; 
    z-index: 99;
    img {
        width: 200px;
    }
}

footer{
    /*position: absolute;*/
    bottom: 0px;
    min-width: 100%;
    /*min-height:40px;*/
    padding: 10px 0px ;
    background: #242526;

    border-top: 2px solid $bColor;

    .center_footer_section{
        max-width: 1600px;
        margin: 0px auto;
        position: relative;
        /*background: #000;*/
        display: flex;
        color: $tColor;
        padding: 10px 15px; 
        a{
            /*font-family: roboto;*/
            /*font-weight: normal;*/
            color: $tColor;
            margin: 0px 10px;
        }
        span{
            position: absolute;
        font-weight: normal;
        font-size: 14px;
            right: 10px;

        }
    }
}

/* Анимация показа описании при наведении на аниме */
@keyframes desc_view{
    25% {opacity: .25}
    50% {opacity: .50}
    75% {opacity: .75}
    100% {opacity: 1}   
}

/* Загрузка чата */
@keyframes loads{


    100%{
        transform: rotate(360deg);
        /*transform: translate(-50%, 0%);*/
    }
}



/* Страница сортировки Аниме */

#main .section_anime_sort{
    padding: 0px;
}

/* Страница Все Аниме */
.top_menu_sort{
    position: relative;
    background: #111;
    display: block;

    .center_inscription{
        text-align: center;
        padding: 15px 0px;
         background: #222;
    }

    .sort_panel{
        background: #242526;
        position: relative;
        user-select: none;
        display: flex;

        padding: 20px;
        .select{
            position: relative;
            /*width: auto;*/
            cursor: pointer;
            /*border: 1px solid #ddd;*/
            border-radius: 2px;
            /*box-shadow: inset 0px 0px 5px rgba(0,0,0,.3);*/
            /*font-weight: normal;*/
            background-color: #18191A;
            margin: 0px 10px;
            padding: 6px 30px;  
            &:hover{
                background:$bColor;
                transition-duration: 1s;
            }

            .options{
                position: absolute;
                display: inline-table;
                width:400px; 
                /*min-width:300px; */
                visibility: hidden;
                left: 0;
                padding: 10px 10px;
                margin-top: 40px;
                background: #111;
        

                    input[type='checkbox']{
                        /*margin: 5px 0px;*/
                            width: 0px;
                            height: 0px;
                            display: none;
                    }

                    div{
                        display: inline-table;
                        /*background: #000;*/

                    label{
                        display: flex;
                        margin:5px 3px;
                        /*background: #000;*/
                        font-size:15px;
                        font-weight: 600;

                    &::before{
                      content: " ";
                      margin:0px 10px;
                      border-radius: 50%;
                      position: relative;
                      text-align: center;
                      width: 12px;
                      height: 12px;
                      background: #000;
                      border: 2px dashed $bColor;
                    }
                        
                    }

                    input:checked + label::before{
                        background: $bColor;
                        border: 2px solid $bColor;
                    }
        
            }
        }


        }

    }


}

.anime_result{
    padding: 0px 10px;
    background: #212121 ;
    height: 820px;
}







/* Media Queries */

@media (min-width: 1200px) and (max-width: 1570px) {
    

    .logo{flex: .2; a {  color:$tColor;}}
        /* Поиск в верхнем меню */
     .search{
        flex: 1;
        color: $tColor;
        display: flex;

        height: 25px;
        position: relative;
        & span {
            position: absolute;
            right: 10px;
        }
    }


    #header .main_menu .search input {
    width: 180px;
    border-radius: 20px;
    }

    #header .main_menu .links {
        a{ 
            font-size: 13px;
            padding: 5px 8px;
        }
    }




}



@media (max-width: 428px) {
    .view_all_records{font-size: 14px}

    footer{display: none;}

    #header{
        top: -1px;
        /*display: none;*/
        .main_menu {
            .search{
                display: none;
            }
            .user_auth{
                display: none;
            }
            .logo{
                color: $tColor;
                width: 50%;
                margin: 0px auto;
                text-align: center;
            }
            /*display: none;*/
        }
    }

   .mobile_menu{
        display: flex;
    }

     .menu_mb{
        display:block;
    }



    #main {
        margin-bottom: 60px;
        padding: 0;
        max-width:600px ;
        position: relative;
        aside{display: none;}

        section{
           margin-right: 0px;
            padding: 0px 0px 0px 0px;

            .block_with_anime{
                max-width: 100%;
                margin: 50px auto;
                padding: 0px 10px;
                position: relative;

                .new_episode{
                 max-width: 100%;

                    & img{
                        width: 100%;
                        height: 170px;     
                    }
                 
                }

                .anime_in_row{
                    width: 46%;
                    display: inline-table;
                    background-color: transparent;
                    margin: 15px 5px;
                     .anim_img{height: 260px;}
                     h4{font-size: 14px; margin: 8px 1px 4px;}
                     small{padding: 0;}

                    .litle_desc{
                        display: none;

                    }

                }

            }

        }

    }


}



@media (min-width:428px) and (max-width: 750px) {
    footer{
        display: none;
    }

    #header{
        top: -1px;
        /*display: none;*/
        .main_menu {
            .search{
                display: none;
            }
            .user_auth{
                display: none;
            }
            .logo{
                color: $tColor;
                width: 50%;
                margin: 0px auto;
                text-align: center;
            }
            /*display: none;*/
        }
    }
    
     .mobile_menu{
        display: flex;
    }

     .menu_mb{
        display:block;
    }


    #main {
        padding: 0;
        margin-bottom: 60px;

        position: relative;
        aside{display: none;}

        section{
            margin-right: 0px;
            padding: 0px 10px;
            .block_with_anime{
                margin: 50px auto;
                padding: 0px 10px;
                position: relative;

                .new_episode{
                 max-width: 340px;
                    & img{
                        width: 100%;
                        height: 170px;   
                    }
                 
                }

                .anime_in_row{
                    width: 30.9%;
                    display: inline-table;
                    background-color: transparent;
                    margin: 15px 5px;
                    .anim_img{height: 275px;}
                     h4{
                        font-size: 14px;
                        margin: 5px 0px 3px 1px ;
                        }
                        small{padding-left: 1px;}

                    .litle_desc{display: none;}

                }

            }

        }

    }


     
    footer{
        display: none;
    }


}



@media (min-width:750px) and (max-width: 1024px) {
    footer{display: none;}

    #header{
        top: -1px;
        /*display: none;*/
        .main_menu {
            .search{
                display: none;
            }
            .user_auth{
                display: none;
            }
            .logo{
                color: $tColor;
                width: 50%;
                margin: 0px auto;
                text-align: center;
            }
        }
    }

     .mobile_menu{
        display: flex;
    }

     .menu_mb{
        display:block;
    }



    #main {
    margin-bottom: 60px;
    padding: 0;
    position: relative;
    aside{display: none;}

    section{
       margin-right: 0px;
        padding: 0px 10px;

        .block_with_anime{
            margin: 50px auto;
             
            padding: 0px 10px;
            position: relative;

            .new_episode{
             max-width: 340px;
                & img{
                    width: 100%;
                    height: 170px;
                
            }
             
            }

            .anime_in_row{
                width: 23.3%;
                display: inline-table;
                background-color: transparent;
                margin: 15px 5px;

                .anim_img{
                        height: 50%;

                    }

                .litle_desc{
                    display: none;

                }

            }

        }

    }

}



}









