@charset "UTF-8";
/* $VARIABLE */
/* #3F4243 - цвет иконок*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
*::-moz-selection {
  color: black;
  background: red;
}
*::selection {
  color: black;
  background: red;
}

@font-face {
  font-family: Segoe Ui;
  /* Имя шрифта */
  src: url(../fonts/segoe_ui_historic.ttf);
  /* Путь к файлу со шрифтом */
  font-display: swap;
}
/* Оформления ползунка */
::-webkit-scrollbar {
  width: 8px;
  background-color: #242526;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
}

::-moz-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-moz-scrollbar-thumb {
  background: linear-gradient(0deg, #ff0000, #ff9000);
}

a {
  text-decoration: none;
  color: #e4e6eb;
}

body {
  font-family: Segoe Ui, Roboto, Arial, sans-serif;
  background-color: #141314;
  font-weight: 500;
  color: #e4e6eb;
}

/* top header - menu*/
#header {
  position: fixed;
  top: 0;
  width: 100% !important;
  background: #202122;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 10px rgba(40, 40, 40, 0.04);
          box-shadow: 0px 3px 10px rgba(40, 40, 40, 0.04);
  border-bottom: 1px solid #2C2E2F;
}

.block-header-top {
  position: relative;
  padding: 14px 10px;
  background: #1E1F20;
}
.block-header-top .center {
  padding: 0px 15px;
  text-align: right;
  margin: auto;
  max-width: 1400px;
}
.block-header-top a {
  font-family: Roboto;
  font-size: 13px;
  margin: 0px 5px;
  letter-spacing: -0.3px;
  color: #DBDDE2;
  font-weight: bold;
}

/* Выравнивания меню по центру */
.center-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: auto;
}

/* Логотип */
.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  letter-spacing: 0.4px;
}

/* Конец логотипа*/
/* Поиск */
.search {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
  text-align: center;
  /* Иконка поиск */
  /* Блок в котором будут показыватся результаты паиска */
}
.search input {
  position: relative;
  background: #2B2D2E;
  width: 576px;
  border-radius: 3px;
  color: #e4e6eb;
  border: none;
  padding: 11px 20px 9px 40px;
}
.search::before {
  background-image: url("../img/header/search.svg");
  content: "";
  background-size: 17px 17px;
  width: 17px;
  z-index: 9;
  height: 17px;
  background-repeat: no-repeat;
  margin-left: -276px;
  /*left: 112px;*/
  margin-top: 10px;
  position: absolute;
}
.search .result-search {
  position: absolute;
  background: #202122;
  display: none;
  font-size: 12px;
  width: 576px;
  text-align: left;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
}
.search .result-search p {
  padding: 9px 20px;
  font-style: italic;
  background: #28292A;
  -webkit-box-shadow: 0px 0px 2px rgba(25, 25, 25, 0.4);
          box-shadow: 0px 0px 2px rgba(25, 25, 25, 0.4);
}
.search .result-search a:not(:first-child) {
  background: #202122;
  padding: 6px 20px;
  display: block;
}
.search .result-search a:not(:first-child):hover {
  background-color: #28292A;
  -webkit-transition-duration: 800ms;
       -o-transition-duration: 800ms;
          transition-duration: 800ms;
}

/* Конец поиска*/
/* иконки входа, и т.д в конце верхнего меню */
.user-info-block {
  /*background: #111;*/
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* Это ссылки которые показываются когда пользователь не авторизован */
  /* Фото пользователя и его логин */
  /* Ссылки в кругу */
}
.user-info-block .not-auth-user {
  margin: 0px 0px;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 25px;
  border-radius: 2px;
}
.user-info-block .not-auth-user:hover {
  background: #1C1D1E;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}
.user-info-block .not-auth-user:hover:first-child {
  background-color: #2D88FF;
}
.user-info-block .user-avatar-login {
  margin-right: 10px;
  position: relative;
  padding: 4px 10px 4px 6px;
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 31px;
}
.user-info-block .user-avatar-login a {
  font-size: 14px;
  font-weight: 500;
}
.user-info-block .user-avatar-login img {
  width: 30px;
  margin-right: 5px;
  border-radius: 50%;
}
.user-info-block .user-avatar-login:hover {
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
  background: #2D88FF;
}
.user-info-block .user-panel-links {
  position: relative;
}
.user-info-block .user-panel-links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.user-info-block .user-panel-links a span {
  padding: 10px;
  background-color: #3A3B3C;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
  z-index: 1;
}
.user-info-block .user-panel-links a span img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  z-index: 2;
  height: 18px;
}
.user-info-block .user-panel-links a:hover span {
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
  background: #2D88FF;
}

/* Конец иконки входа, и т.д в конце верхнего меню  */
/* Стилизация меню - блок в низу оформление крч как в opera gx  */
.header-open-block {
  position: absolute;
  bottom: -8px;
  width: 46px;
  height: 8px;
  background: #2B92CA;
  left: 50%;
  -webkit-box-shadow: 0px 0px 5px #2B92CA;
          box-shadow: 0px 0px 5px #2B92CA;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
}
.header-open-block::before, .header-open-block::after {
  content: "";
  position: absolute;
  left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #2B92CA;
}
.header-open-block::after {
  right: -8px;
}

.header__style_line, .article__line {
  position: absolute;
  bottom: 0px;
  min-width: 100%;
  height: 1.5px;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#202122), color-stop(#2D88FF), to(#202122));
  background: -o-linear-gradient(right, #202122, #2D88FF, #202122);
  background: linear-gradient(to left, #202122, #2D88FF, #202122);
}

/* end top header - menu*/
.mobile_menu {
  display: none;
}

/* Модальное окно в верхнем меню */
.modal-info-user {
  display: none;
  position: absolute;
  width: 243px;
  right: 0;
  margin-right: 8px;
  border-radius: 9px;
  border: 1px solid #2C2E2F;
  margin-top: 8px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  background: #202122;
  padding: 8px;
}
.modal-info-user .block-info-modal {
  position: relative;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 5px;
}
.modal-info-user .block-info-modal a {
  font-size: 14px;
}
.modal-info-user .block-info-modal img {
  width: 42px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
.modal-info-user .block-info-modal:hover {
  background: #2F3234;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}
.modal-info-user .block-info-modal + hr + a {
  margin-top: 9px;
}
.modal-info-user .block-info-modal ~ a {
  padding: 9px 8px;
  display: block !important;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 15px;
  font-family: Roboto;
}
.modal-info-user .block-info-modal ~ a img {
  width: 18px;
  float: left;
  margin-right: 10px;
}
.modal-info-user .block-info-modal ~ a:hover {
  background: #2F3234;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

/* Slick - Слайдер */
.slick-slader {
  position: relative;
  background: #212121;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 119px;
  font-family: Roboto;
  padding: 25px 10px;
  font-weight: normal;
  border-bottom: 2px solid #2D88FF;
  /* Черная пленка над фоном слайдера */
  /* Кнопки */
}
.slick-slader::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: absolute;
}
.slick-slader section.slider {
  max-width: 1500px;
  overflow-y: auto;
  margin: 0px auto 0;
}
.slick-slader section.slider .slick-list {
  padding: 15px 0;
}
.slick-slader section.slider div {
  margin: 0px 5px;
  text-align: center;
}
.slick-slader section.slider div img {
  width: 180px;
  height: 274px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.slick-slader section.slider div img:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.slick-slader section.slider div .slider-block-title {
  display: block;
  margin: 10px 5px 3px;
  font-size: 14px;
  font-weight: bold;
}
.slick-slader section.slider div small {
  margin-left: 5px;
}
.slick-slader .prev, .slick-slader .next {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  cursor: pointer;
  padding: 25px 7px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 47%;
  z-index: 1;
}
.slick-slader .prev img, .slick-slader .next img {
  width: 27px !important;
  height: 27px !important;
}
.slick-slader .prev:hover, .slick-slader .next:hover {
  background: rgba(0, 0, 0, 0.9);
}
.slick-slader .prev {
  left: 27px;
}
.slick-slader .next {
  right: -20px;
}

/* конец slick - Слайдера */
/* Контейнер где находятся меню и контент */
#main {
  position: relative;
  max-width: 1500px;
  padding: 0px 10px;
  margin: 119px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100% !important;
}

.content-section {
  position: relative;
  max-width: 1140px;
  background-image: url(../img/registration/decor-min.png);
  background-size: contain;
  padding: 55px 20px;
  margin: 0px 30px 0px 0px;
}

.block_release {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px 80px;
}
.block_release .block_info_release {
  width: 350px;
  border: 1px solid #151515;
  margin-right: 20px;
  background: #222324;
}
.block_release .block_info_release .release__header {
  padding: 19px;
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid #151515;
  background-color: #1E1F20;
}
.block_release .block_info_release .release__header img {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}
.block_release .block_info_release .release__header .magic_effect_img {
  left: 21px;
  margin-top: 2px;
}
.block_release .block_info_release .block_release_content {
  position: relative;
}
.block_release .block_info_release .block_release_content .anime {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block_release .block_info_release .block_release_content .anime img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.block_release .block_info_release .block_release_content .anime div {
  margin-left: 10px;
  margin-top: -3px;
  width: 100%;
}
.block_release .block_info_release .block_release_content .anime div small {
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
.block_release .block_info_release .block_release_content .anime:hover {
  background: #1A1A1A;
}

.section__title {
  position: relative;
  font-size: 22px;
}

.block_anime {
  position: relative;
  margin: 20px 0px 50px;
  min-width: 100%;
}
.block_anime article {
  display: inline-table;
  margin: 0px 19px 20px 0px;
  width: 197px;
  cursor: pointer;
  background: #111;
  padding-bottom: 10px;
  position: relative;
}
.block_anime article .img {
  position: relative;
  width: 100%;
  height: 285px;
  overflow: hidden;
  background: #0F0F0F;
}
.block_anime article .img img {
  width: 100%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  height: 100%;
}
.block_anime article .img .hover__block {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  z-index: 1;
  opacity: 0;
  background: rgba(15, 15, 15, 0.9);
}
.block_anime article .img .hover__block .bottom_text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 25px;
}
.block_anime article .img .hover__block .bottom_text .bottom_text_rainting {
  margin-bottom: 10px;
}
.block_anime article .img .hover__block .bottom_text .bottom_text_rainting img {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: -1px;
  margin-right: 6px;
}
.block_anime article .img .hover__block .bottom_text .bottom_text_rainting span {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
}
.block_anime article .img .hover__block .bottom_text .bottom_text_rainting .lines {
  width: 100%;
  margin-top: 2px;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#202122), to(#2D88FF));
  background: -o-linear-gradient(right, #202122, #2D88FF);
  background: linear-gradient(to left, #202122, #2D88FF);
  z-index: 9;
  display: block;
}
.block_anime article .img .hover__block .bottom_text .year_category {
  font-size: 14px;
}
.block_anime article .title_anime, .block_anime article small {
  position: relative;
  margin: 10px 10px 0px;
  font-size: 15px;
}
.block_anime article small {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.block_anime article:hover {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.block_anime article:hover .hover__block {
  opacity: 1;
}
.block_anime article:hover .img img {
  -webkit-transform: scale(1.33);
      -ms-transform: scale(1.33);
          transform: scale(1.33);
}
.block_anime article .status {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #A631E1;
  z-index: 19;
  border-radius: 50%;
  left: 15px;
  top: 15px;
}
.block_anime article .status:after {
  content: "";
  background: #A631E1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-animation: status 3s ease-out 0s infinite backwards;
          animation: status 3s ease-out 0s infinite backwards;
}

@-webkit-keyframes status {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

@keyframes status {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}
.watch {
  position: absolute;
  right: -6px;
  top: 6px;
  z-index: 2;
  font-size: 14px;
  background: #2D88FF;
  padding: 3px 9px;
}
.watch img {
  width: 18px;
  float: left;
  margin-right: 5px;
}
.watch:after {
  content: "";
  right: 0px;
  position: absolute;
  bottom: -5px;
  border: 3px solid transparent;
  border-left: 3px solid #2D88FF;
  border-top: 3px solid #2D88FF;
}

.raiting {
  left: -6px;
  display: none;
  position: absolute;
  top: 6px;
  z-index: 2;
  font-size: 14px;
  background: #FF4F19;
  padding: 3px 9px;
}
.raiting img {
  width: 18px;
  float: left;
  margin-right: 5px;
}
.raiting:after {
  content: "";
  left: 0px;
  position: absolute;
  bottom: -5px;
  border: 3px solid transparent;
  border-right: 3px solid #FF4F19;
  border-top: 3px solid #FF4F19;
}

.button-all-view {
  position: relative;
  margin: 30px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 6px;
  border-radius: 2px;
}
.button-all-view:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition-duration: 800ms;
       -o-transition-duration: 800ms;
          transition-duration: 800ms;
}

/*  Правое меню */
aside {
  color: #e4e6eb;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  float: left;
  min-width: 320px;
  max-width: 320px;
  background-color: #222324;
}

.aside__header {
  position: relative;
  margin: 10px 20px;
}
.aside__header span:first-child {
  position: relative;
  font-size: 18px;
  display: block;
  color: #e4e6eb;
}
.aside__header span:first-child img {
  width: 22px;
  margin-top: 1px;
  float: left;
  margin-right: 10px;
}

/* Ссылки в меню */
#menu {
  background: #212121;
  margin: 0px 0px 50px;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  padding: 14px 15px 14px 22px;
  font-family: Roboto;
  font-size: 14px;
  color: #e4e6eb;
}
#menu ul li::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #191A1B;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}
#menu ul li:hover {
  background: #1A1A1A;
}
#menu ul li:hover:after {
  background-color: #2D88FF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
}
#menu ul li:hover .main_img_icon {
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.vk_link {
  margin-top: 50px;
  padding: 10px;
}
.vk_link span:first-child {
  position: relative;
  font-size: 18px;
  display: block;
  color: #e4e6eb;
}
.vk_link span:first-child img {
  width: 22px;
  margin-top: 1px;
  float: left;
  margin-right: 10px;
}

/*  Правое меню */
.main_img_icon {
  width: 25px;
  float: left;
  margin-right: 9px;
  z-index: 9;
  margin-top: -4px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.magic_effect_img {
  position: absolute;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  z-index: 1;
  margin-top: -2px;
  left: 24px;
}
.magic_effect_img img {
  width: 21px;
}

/* Чат во меню */
.chat {
  position: relative;
  padding: 20px 10px;
  margin: 10px 0px;
  display: block;
  width: 100%;
  background: #1E1F20;
}
.chat span:first-child {
  font-size: 18px;
  color: #e4e6eb;
  margin-left: 10px;
}
.chat span:first-child img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 10px;
}
.chat .loading_chat {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 99;
  margin: 0px -10px;
  background: #212223;
}
.chat .loading_chat .centerLoading {
  width: 200px;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  text-align: center;
  position: relative;
}
.chat .loading_chat .centerLoading img {
  width: 100px;
}
.chat .loading_chat .centerLoading .load_circle {
  width: 50px;
  height: 50px;
  position: relative;
  /*background-color: #000;*/
  margin: 10px auto;
  border-radius: 50%;
  display: block;
  /*top: 55%;*/
  /*left: 36%;*/
  border-left: 3px solid #2D88FF;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #2D88FF;
  border-right: 3px solid #2D88FF;
  /*transform: translate(0%, 0%);*/
  -webkit-animation-name: loads;
          animation-name: loads;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.chat .message_block {
  position: relative;
  overflow: auto;
  height: 450px;
  margin-top: 15px;
}
.chat .message_block .message {
  margin: 10px 10px 15px;
  word-break: break-all;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dashed #2D88FF;
}
.chat .message_block .message .img_author_chat {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.chat .message_block .message .img_author_chat img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.chat .message_block .message .text_message {
  color: #e4e6eb;
  max-width: 100%;
  display: block;
}
.chat .message_block .message .text_message .data_public {
  position: absolute;
  font-size: 13px;
  font-weight: normal;
  right: 15px;
}
.chat .message_block .message .text_message .author {
  font-size: 12px;
  color: #FF4437;
}
.chat .message_block .message .text_message .text {
  position: relative;
  font-weight: normal;
  font-size: 13px;
  margin-top: 4px;
  /*font-family: roboto;*/
}
.chat .message_block .message .text_message .text img {
  position: relative;
  width: 30px;
  height: 30px;
}
.chat .form_send {
  position: relative;
  width: 100%;
  left: 0;
  /* Блок который показывается коглда кликаешь на иконку смаилики  */
}
.chat .form_send .block_input {
  /*flex: 1;*/
  margin: 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat .form_send .block_input input {
  width: 270px;
  background-color: #292B2C;
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 8px 29px 8px 9px;
  color: #e4e6eb;
  border: 1px solid #2D88FF;
}
.chat .form_send .block_input .smile_icon {
  position: absolute;
  right: 46px;
  bottom: 3px;
}
.chat .form_send .block_input .smile_icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.chat .form_send .block_input .smile_icon :hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.chat .form_send .block_input .send_button {
  margin-left: 10px;
  cursor: pointer;
}
.chat .form_send .block_input .send_button img {
  width: 30px;
  position: relative;
  top: 2px;
}
.chat .form_send .smiles_all {
  position: absolute;
  right: 40px;
  top: -110px;
  width: 230px;
  height: 100px;
  display: none;
  /*overflow: auto;*/
  overflow-y: auto;
  background-color: #222;
  padding: 10px 5px;
  border-radius: 6px;
  border: 1px solid #393A3B;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.chat .form_send .smiles_all img {
  width: 25px;
  height: 25px;
  margin: 0px 3px;
  cursor: pointer;
  float: left;
}
.chat .form_send .smiles_all img:hover {
  background-color: #191919;
  border-radius: 5px;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

/* Footer */
#footer {
  position: relative;
  min-width: 100%;
  background: #1E1F20;
}
#footer .header__style_line {
  bottom: -8px;
  top: 1px;
}
#footer .header-open-block {
  bottom: -8px;
  top: -6px;
}
#footer .header-open-block:before {
  left: -5px;
  top: -8px;
  border: 8px solid transparent;
  border-bottom: 8px solid #2B92CA;
}
#footer .header-open-block:after {
  top: -8px;
  border: 8px solid transparent;
  border-bottom: 8px solid #2B92CA;
}
#footer .center__footer {
  max-width: 1460px;
  position: relative;
  padding: 17px 0px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}
#footer .center__footer a {
  margin: 0px 7px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
#footer .center__footer a:hover {
  color: white;
  -webkit-transition-duration: 800ms;
       -o-transition-duration: 800ms;
          transition-duration: 800ms;
}
#footer .center__footer .author {
  position: absolute;
  font-family: Roboto;
  font-size: 13px;
  right: 0px;
  top: 20px;
  color: rgba(255, 255, 255, 0.8);
}
#footer .center__footer .author a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
}

/* Footer */
.up {
  position: fixed;
  bottom: 20px;
  right: 25px;
  padding: 7px 10px;
  background: #262626;
  border-bottom: 2px solid #2D88FF;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 800ms all;
  -o-transition: 800ms all;
  transition: 800ms all;
}
.up img {
  width: 32px;
  height: 30px;
}
.up:hover {
  background: #1F1F20;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.mobile-modal {
  display: none;
}

/* конец - контейнер где находятся меню и контент */
/* Animation */
/* Загрузка чата */
@-webkit-keyframes loads {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loads {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Animation */
@media (max-width: 1020px) {
  body {
    margin-bottom: 49px;
  }

  #header {
    background: #1E1F20;
    border: none;
    padding: 0;
  }
  #header .block-header-top {
    display: none;
  }
  #header .center-header {
    padding: 10px;
  }
  #header .center-header .logo {
    display: none;
  }
  #header .center-header .search {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  #header .center-header .search input {
    width: 100%;
    background: #262627;
    font-family: Roboto;
    padding-top: 10px;
    font-weight: thin;
    font-size: 15px;
    padding-bottom: 9px;
  }
  #header .center-header .search::before {
    margin-left: 0;
    left: 13px;
    margin-top: 10px;
  }
  #header .center-header .search .result-search {
    width: 100%;
  }
  #header .center-header .user-info-block {
    display: none;
  }

  .slick-slader {
    margin-top: 0;
    padding: 80px 10px 40px;
  }

  .mobile_menu {
    position: fixed;
    width: 100% !important;
    background: #1D1E1F;
    border: 1px solid #212223;
    z-index: 999;
    bottom: 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 400ms all;
    -o-transition: 400ms all;
    transition: 400ms all;
  }
  .mobile_menu a {
    width: 25%;
    padding: 10px;
  }
  .mobile_menu a img {
    width: 25px;
    height: 25px;
  }

  aside {
    display: none;
  }

  .block-header-top {
    display: none;
  }

  .header__style_line {
    display: none;
  }

  .header-open-block {
    display: none;
  }

  #main {
    display: block;
    padding: 5px 5px;
  }

  .content-section {
    max-width: 1140px;
    padding: 0px 0px;
    margin: 0;
    background: transparent;
  }

  .block_release {
    display: block;
  }

  .block_info_release {
    margin-top: 50px;
    width: 100% !important;
  }

  .raiting {
    display: block;
  }

  .block_anime article {
    width: 45.2%;
    margin: 0px 5px 20px;
  }
  .block_anime article .img {
    height: 220px;
  }
  .block_anime article .title_anime {
    font-size: 13px;
  }
  .block_anime article .status {
    top: 200px;
    left: 90% !important;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  #footer .center__footer {
    padding-left: 10px;
  }
  #footer .center__footer a {
    display: none;
  }
  #footer .center__footer .author {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer .center__footer .author a {
    display: block;
    color: #2D88FF;
    text-decoration: underline;
    margin: 0px 0px 0px 5px;
  }

  .mobile-modal {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #151516;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: 800ms all;
    -o-transition: 800ms all;
    transition: 800ms all;
    opacity: 0;
  }
  .mobile-modal .block_profile {
    margin: 10px;
    position: relative;
  }
  .mobile-modal .block_profile .profile__header {
    margin: 15px 1px 20px;
    position: relative;
  }
  .mobile-modal .block_profile .block_link_profile {
    background-color: #1D1D1E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
  }
  .mobile-modal .block_profile .block_link_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2D88FF;
  }
  .mobile-modal .block_profile .block_link_profile p {
    margin: 3px 0px 0px 10px;
  }
  .mobile-modal .block_profile .block_link_profile p small {
    display: block;
    color: rgba(255, 255, 255, 0.4);
  }
  .mobile-modal .profile__links p {
    margin: 40px 10px 10px;
  }
  .mobile-modal .profile__links #menu {
    background: #1D1D1E !important;
    margin: 0px 0px 10px;
  }

  .mobile-modal.open {
    visibility: visible;
    opacity: 1;
  }

  .up {
    display: none;
  }
}