/* $VARIABLE */
$textColor : rgba(228, 230, 235,1);
$buttonColor : #2D88FF;
$backColor : #141314;
$twoColor : #222324;
$threeColor : #1B1C1D;


/****************Страница admin.html*************** */
.modification-page{
	display: block;
	.content-section{
		box-shadow: none;
		background-color: transparent;
		width: 1370px;
		margin: 120px auto 0px;
		padding-top: 0px;
		// Фон который установил пользователь
		.block-splash-screen-user{
			position: relative;
			width: 100%;
			background-image: url('https://wallpaperaccess.com/full/1122002.jpg');
			height: 300px;
			background-size: cover;
			background-repeat: no-repeat;
			transition:400ms all;
			border-bottom: 2px solid #222;
			.block-hover{
				position: absolute;
				bottom: 10px;
				right: 10px;
				visibility: hidden;
				& a{
					padding: 5px 10px;
					background-color: rgba(0,0,0,.4);
					font-size: 14px;
					border-radius: 3px;
				}
			}

			&:hover .block-hover{
				visibility: visible;
			}
		}

		// все инфа о пользователе будет хранится в этом блоке
		.main-block-info-user{
			width: 100%;
			//  Блок со информацией о пользователе
			.info-user-block{
				background-color:$threeColor;
				border: 1px solid #333;
				border-top:none;
				border-radius: 0px 0px 3px 3px;
				padding: 20px 20px 0px;
				display: flex;
				// Аватарка пользователя
				.image-user{
					padding-top: 4px;
					flex:.5;
					margin-right: 30px;
					text-align: center;
					& img {
						border:3px solid $buttonColor;
						border-radius: 50%;
						max-width: 80px;
						max-height: 80px;
					}
					a {
						margin-top: 10px;
						display: flex;
						font-size: 14px;
						padding: 5px 10px;
						border-radius: 3px;
						background: $twoColor;
						transition:400ms all;
						box-shadow: 0px 0px 5px rgba(0,0,0,.06);
						& img{
							width: 16px;
							margin-top: 3px;
							margin-right: 5px;
							border: none;
						}
						&:hover{
							background-color: $buttonColor;
						}
					}
				}
				// блок в который следует за аватаркой пользователя - крч инфа и о немм
				.description-user{
					flex:6;
					// Основная инфа о пользователе
					.name-user-profile{
						margin-bottom: 5px;
						font-size: 18px;
						font-weight: bold;
						small{
							font-size: 13px;
							font-weight: normal;
							color: rgba(255,255,255,.6);
						}
					}
					.name-user-profile ~ p{
						font-size: 14px;
						color: rgba(255,255,255,.6);
						margin-bottom: 4px;
					}
					
					// Панель со ссылками - 'Списки', 'Мои друзья' и т.д 
					.list-profile-links{
						border-top: 1px solid #333;
						padding-top:10px;
						display: flex;
						align-items:center;
						margin-top: 10px;
						& a{
							margin: 0px 27px 0px 0px;
							padding-bottom: 9px;
							font-size: 14px;
							border-bottom: 2px solid transparent; 
							transition:500ms all;
							& img{
								display: none;
								width: 16px;
								top: 2px;
								position: relative;
								margin-right: 8px;
							}
							&:hover{
								border-bottom-color: $buttonColor; 
							}
						}
						.active{border-bottom-color: $buttonColor;}
					}

				}

			}
			// Блок который идет после инфы - там обычно - список аниме - в зависимости от страницы
			.content-page{
				margin-top: 40px;
				border-radius: 3px;
				display: flex;
				//  блок в котором перечислены аниме которые нравятся или манги
				.content-block{
					flex-basis: 1100px;
					padding-bottom: 50px;
				 	// background-color: $threeColor;
				 	.block_anime article{
				 		width: 160px;
				 		margin-bottom: 0px;
				 		.img{height: 220px;}
				 		.title_anime{font-size: 12px;}
				 		small{font-size: 11px;}
				 		.watch{font-size: 12px;& img{margin-top: -1px;}}
				 	}
				 	// Страница вывода всех друзьей
					.friend{
						position: relative;
						display: flex;
						width: 100%;
						margin: 20px 0px 10px;
						.friend__img{
							margin-right: 20px;
							& img{
								width: 80px;
								border-radius: 50%;
							}
						}
				
						.friend__links{
							padding-top: 3px;
							color: white;
							font-weight: bold;
							// кнопка написать сообщение
							small{
								margin-top: 10px;
								display: block;
								& a{
									font-weight: normal;
									color: rgba(255,255,255,.6);
									&:hover{
										color: white;
									}
								}
							}
							// Кнопка удалить из друзьей
							.delete-friend {
								display: block;
								right: 20px;
								top: 0;
								margin: 10px 0px;
								position: absolute;
								a{
									background-color: rgba(25,25,25,.7);
									transition:400ms all;
									padding: 5px 9px;
									font-size: 11px;
									font-weight: normal;
									border-radius: 3px;
									&:hover{
										background-color: #FF1928;
									}
								}
							}

						}
					}
					
				}
				
				// правый блок
				.right-panel-control{
					margin-left: 10px;
					flex-basis:260px;
					h4{
						margin: 0px 0px 10px 8px;
					}
					// Ссылки в правом блоке
					.links{
						border-radius: 3px;
						background-color: $threeColor;
						border: 1px solid #333;
						a{
							display: block;
							padding: 9px 12px;
							margin: 0px 0px 4px;

							transition:500ms all;
							border-radius: 3px;
							color: rgba(255,255,255,.8);
							font-size: 14px;
							&:hover{
								color: white;
								background-color: #222222;
							}
						}
						.active{
							background-color: #222;
						}	
					}
					// реклама в правом блоке
					.ads{
						margin: 20px 0px;
						width: 100%;
						height: 300px;
						background-color: #000; 
					}
					
				}

			}

		}

		// Блок сообщении

	}
}
.mobile-description, .mobile-select-list{display: none;}
/****************Конец страницы admin.html*************** */


/****************Страница message.html*************** */
.main-container{
	position: relative;
	margin: 160px auto 20px;	
	max-width: 1200px;
	height:600px;
	border: 1px solid #333;
	background-color: $threeColor;
	display: flex;
	// блок со друзьями
	.container-friends{
		flex-basis:350px;
		border-right: 1px solid #333;
		height: 100%;
		overflow: auto;
		// названия 'Друзья'
		.container-friends__header{
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #333;
		}
		// блок с инфой о друге - выровнены в ряд
		.friend{
			width: 100%;
			align-items:center;
			display: flex;
			padding: 10px;
			transition:400ms all;
			// аватарка друга 
			.img_friend{
				margin-right: 10px;
				& img{
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
			}

			// инфа о друга с последним сообщением 
			.description-friend{
				p{
					font-weight: 500;
					font-size: 15px;
					& small{
						font-weight: normal;
						color: rgba(255,255,255,.5);
					}
				}
				.last-message.new{padding:0px 4px 2px;border-radius: 5px;font-size:11px; background-color: $buttonColor;}
			}
			&:hover{
				background-color: #222;
			}
		}
		.friend.active{
			background-color: #222;
		}
	}
	// Контаинер со всеми сообщениями который писал 
	.container-messages{
		flex-basis:950px;
		// background-color: #000;
		display: block;
		.container-messages__header{
			padding: 10px ;
			border-bottom: 1px solid #333;
			display: flex;
			position: relative;
			align-items:center;
			img:nth-child(1){
				margin-right: 10px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}

			.remove-all-messages{
				right: 10px;
				position: absolute;
				cursor: pointer;
				& img{
					width: 20px;
					height: 20px;
					border-radius: 0;
				}
			}
		}
		// все сообщение 
		.all_messages{
			width: 100%;
			overflow: auto;
			padding: 50px 10px 20px;
			position: relative;
			height: 500px;
			background-color: $twoColor;
			.message{
				cursor: pointer;
				margin: 0px 0px 20px;
				padding: 5px 0px;
				position: relative;
				display: flex;
				.message_content{
					padding: 5px 12px;
					border-radius: 20px;
					position: relative;
					span{
						margin-top: 10px;
						display: block;
					}
				}
				.block-anwser{
					// display: none;
					position: relative;
					padding: 4px 9px;
					font-size: 13px;
					max-width:100%;
					border-left:2px solid $buttonColor;
				}
				&:hover{
					& span{
						background: #202020;
					}
				}
			}
			// если сообщение выбрано с помощью js
			.message.select{
				span{background: #111;}
				&:after{
					content: '';
					border-radius: 50%;
					width: 8px;
					position: absolute;
					z-index: 9;
					height: 8px;
					margin-left: 10px;
					margin-top: 6px;
					background: red;
				}
			}

			.message.i-send{
				display: flex;
				justify-content:flex-end;
			}
			.message.i-send.read{
				& span:before{
					left: -25px;
					top: 50%;
					// margin-top: 4px;
					content: '';
					position: absolute;
					display: block;
					transform:translate(-0%, -50%);
					width: 18px;
					height: 18px;
					background-image: url('../img/icons2/tick.svg');
					background-size: 18px 18px;
				}
			}
			.message.i-send.select{
				position: relative;
				span{background: #111;}
				&:after{display: none;}
				&:before{
					content: '';
					border-radius: 50%;
					width: 8px;
					position: absolute;
					z-index: 9;
					height: 8px;
					margin-right: 40px!important;
					// margin-top: 6px;
					background: red;
				}
			}


		}

		.form-send-message{
			display: flex;
			padding: 6px;
			input[type='text']{
				width: 813px;
				background-color: $twoColor;
				color: white;
				border-radius: 5px; 
				border: none;
				padding: 10px;
				float: left;
				border: 1px solid transparent;
				transition:400ms all;
				&:focus{
					border-color: $buttonColor;
				}
			}

			input[type='submit']{
				display: none;
			}

			label{
				cursor: pointer;
				margin-left: 10px;
				img{
					width: 34px;
				}
			}

		}
	}
}
/****************Конец страницы message.html*************** */


/****************Страница notifiction.html*************** */
.section-notification{
	position: relative;
	margin: 120px auto;
	max-width: 850px;
	background-color: $threeColor;
	border: 1px solid #333;
	border-top: none;
	.title-section{
		font-size: 20px;
		font-weight: 500;
		padding: 10px 20px;
		position: relative;
		border-bottom: 1px solid #333;
		display: block;

		.right-icon-delete-notification{
			top: 0;
			margin-top: 10px;
		}
	}
	// блок со всеми уведомлениями
	.block-notifications{
		width: 100%;
			padding: 10px 10px 20px;
		// блок уведомления
		.notification{
			display: flex;
			width:100%;
			padding: 10px;
			transition:400ms all;
			cursor: pointer;
			.img-notification{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.content-notification{
				position: relative;
				padding: 7px 15px 3px;
				p{font-size:14px;}
				small{color: rgba(255,255,255,.6);}
			}


			&:hover{background:$twoColor;}

		}
	}

}
/****************Конец страницы notifiction.html*************** */

// кнопка удалениясообщения и т.д
.right-icon-delete-notification{
	position: absolute;
	right: 30px;
	margin-top: 10px;
	& img{
		width: 20px;
		height: 20px;
	}
}


@media (max-width: 1024px) {
	.modification-page{
		display: block;
		.content-section{
			box-shadow: none;
			background-color: transparent;
			width: 100%;
			margin: 60px auto 0px;
			padding-top: 0px;
			// Фон который установил пользователь
			.block-splash-screen-user{height: 200px;}

			// все инфа о пользователе будет хранится в этом блоке
			.main-block-info-user{
				width: 100%;
				//  Блок со информацией о пользователе
				.info-user-block{
					display: block;
					border: none;
					border-radius:none;
					padding: 20px 10px 0px;
					// Аватарка пользователя
					.image-user{
						display: flex;
						text-align:left;
						span{display: none;}
						align-items:center;
						& img{
							width: 60px;
							height: 60px;
						}
						// описаниепоказывается только в мобильном версии
						.mobile-description{
							padding: 0px 0px 0px 15px;
							display: block;
							font-size: 22px;
							font-weight: 500;
							& small{
								font-size: 12px;
								font-weight: initial;
								display: block;
							}
						}
					}
					// блок в который следует за аватаркой пользователя - крч инфа и о немм
						.description-user{
							display: block;
							margin-top: 10px;
							.name-user-profile{display: none;}
							.name-user-profile ~ p{
								font-size: 16px;
								color: rgba(255,255,255,1);
								font-weight: 500;
							}
						
						// Панель со ссылками - 'Списки', 'Мои друзья' и т.д 
						.list-profile-links{
							// display: none;
							width: 100%;
							display: block;
							text-align: center;
							& a{
								display: block;
								margin: 4px 0px;
								border-radius: 3px;
								padding:4px 9px;
								font-size: 14px;
								border-bottom: 2px solid transparent; 
								transition:500ms all;
							}
							.active{background-color: $buttonColor;}
						}

				}
				}

				// Блок который идет после инфы - там обычно - список аниме - в зависимости от страницы
				.content-page{
					display: block;
					//  блок в котором перечислены аниме которые нравятся или манги
					.content-block{
						.block_anime{background: transparent;}
					 	.block_anime article{
					 		width: 44.5%;
					 		.img{height: 215px;}
					 		.title_anime{font-size: 13px;}
					 		small{font-size: 12px;}
					 	}
					 	// Страница вывода всех друзьей - friends.html
						.friend{
							padding: 0px 10px 0px;
							.friend__img img{width: 60px;}
							// Кнопка удалить из друзьей
							.friend__links .delete-friend {
								position:relative;
								right: 0;
							}
						}
						// Выпадающий список выбора списков аниме - на admin.html
						.mobile-select-list{
							display: block;
							position: relative;
							margin: 0px 10px 10px;
							width: auto;
							.open-list{
								background: $twoColor;
								padding: 4px 12px;
								font-size: 16px;
								font-weight: 500;
								border-radius: 2px;
								&:hover{background: $buttonColor;}
							}
							ul {
								visibility: hidden;
								position: absolute;
								list-style: none;
								background: $twoColor;
								width:auto;
								padding: 5px 15px;
								margin-top: 15px;
								z-index: 9;
								opacity: 0;
								font-size: 14px;
								border-radius: 3px;
								transition:400ms all;
								&:before{
									content: '';
									position: absolute;
									border: 5px solid transparent;
									border-bottom-color: $twoColor;
									top: -10px;
									left: 3px;
								}
								li{
									margin: 3px 0px;
								}
								&.open{
									opacity: 1;
									visibility: visible;
								}
							}

						}	
					}
					
					// правый блок
					.right-panel-control{display: none;}

				}

			}

		}
	}
	
}